venv
.env
__pycache__
.ipynb_checkpoints
simulations.json
simulatons.json
gpr_interpolation.py
logs
FF_to_TD_pred
model_1_data
model_2_data
model_3_data
model_4_data
model_5_data
model_6_data
model_7_data
model_8_data
model_9_data
model_10_data
tmp